.Content {
    margin-top: 72px;
}


.App{
    margin: 100px auto;
    max-width: 900px;
    width:100%;
}


@media (max-width: 980px) {

  .App{
    margin:50px 40px;
   }


}

@media (max-width: 480px) {

    .App{
      margin:50px 20px;
     }
  
  
  }